<html lang="en"><head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#F3F2EF" style="background-color: #f3f2ef; table-layout: fixed">
    <tbody>
      <tr>
        <td align="center" style="padding-top: 24px">
          <center style="width: 100%">
            <table role="presentation" border="0" class="m_5066585998267977740mercado-email-container" cellspacing="0" cellpadding="0" width="512" bgcolor="#FFFFFF" style="
                background-color: #ffffff;
                margin: 0 auto;
                max-width: 512px;
                width: inherit;
              ">
              <tbody>
                <tr>
                  <td bgcolor="#FFFFFF" style="
                      background-color: #ffffff;
                      padding: 18px 24px 0 24px;
                    ">
                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%" style="
                        width: 100% !important;
                        min-width: 100% !important;
                      ">
                      <tbody>
                        <tr>
                          <!-- <td align="left" valign="middle">
                            <a href="#" style="
                                color: #0a66c2;
                                display: inline-block;
                                text-decoration: none;
                              " target="_blank" data-saferedirecturl="#">
                              <img alt="LinkedIn" border="0" src="#" height="38" style="
                                  max-height: 38px;
                                  outline: none;
                                  color: #ffffff;
                                  max-width: unset !important;
                                  text-decoration: none;
                                " class="CToWUd"></a>
                          </td> -->
                          
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tbody>
                        <tr>
                          <td>
                            <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                              <tbody>
                                <tr>
                                  <td>
                                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td style="padding: 24px 24px 8px">
                                            <h2 style="
                                                margin: 0;
                                                color: #000000;
                                                font-weight: 400;
                                                font-size: 24px;
                                                line-height: 1.333;
                                              ">
                                              <a href="#" style="
                                                  color: #242424;
                                                  display: inline;
                                                  text-decoration: none;
                                                " target="_blank" data-saferedirecturl="#">Your job alert
                                                </a>
                                            </h2>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td style="padding: 0 24px 16px">
                                            <p style="
                                                margin: 0;
                                                color: #000000;
                                                font-weight: 400;
                                                font-size: 16px;
                                                line-height: 1.5;
                                              ">
                                              new jobs matches your
                                              preferences.
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <table cellspacing="0" cellpadding="0" style="padding: 10px 24px">
                                      <tbody valign="top" style="
                                          table-layout: fixed;
                                          vertical-align: top;
                                          width: 100%;
                                        ">
                                        <tr>
                                          <td width="56" style="
                                              width: 56px;
                                              padding-right: 16px;
                                            ">
                                            <a href=#" style="
                                                color: #0a66c2;
                                                display: inline-block;
                                                text-decoration: none;
                                              " target="_blank" data-saferedirecturl="#" alt="Avalara" border="0" width="48" style="
                                                  outline: none;
                                                  color: #ffffff;
                                                  text-decoration: none;
                                                " class="CToWUd"></a>
                                          </td>
                                          <td align="left" style="
                                              padding-left: 0;
                                              text-align: left;
                                            ">
                                            <a href="#" style="
                                                color: #0a66c2;
                                                display: inline-block;
                                                text-decoration: none;
                                              " target="_blank" data-saferedirecturl="#">
                                              <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%" valign="top" style="
                                                  table-layout: fixed;
                                                  vertical-align: top;
                                                  width: 100%;
                                                ">
                                                <tbody>
                                                  <tr>
                                                    <td style="
                                                        padding-bottom: 4px;
                                                      ">
                                                      <a href="#" style="
                                                          color: #0a66c2;
                                                          font-weight: 700;
                                                          text-decoration: none;
                                                          display: inline-block;
                                                          font-size: 16px;
                                                        " target="_blank" data-saferedirecturl="#">{{ position }}</a>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td>
                                                      <p style="
                                                          margin: 0;
                                                          color: #000000;
                                                          font-weight: 400;
                                                          font-size: 14px;
                                                          line-height: 1.429;
                                                        ">
                                                        {{ company }}
                                                      </p>
                                                    </td>
                                                    <tr>
                                                      <td>
                                                        <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="initial">
                                                          <tbody>
                                                            <tr>
                                                              <td style="padding:0 24px 4px 4px;white-space:normal;display:inline-block">
                                                                <p style="margin:0;color:#737373;font-weight:400;font-size:12px;line-height:1.333">
                                                                  Last Date : <b> {{ last_date | date:"M d, Y" }}</b>
                                                                </p>
                                                              </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </td>

                                                    </tr>
                                                   
                                                  </tr>
                                                  <tr>
                                                    <td width="100%" style="
                                                        padding-top: 8px;
                                                        width: 100%;
                                                      ">
                                                      <table role="presentation" align="left" border="0" cellspacing="0" cellpadding="0" width="initial">
                                                        <tbody>
                                                          <tr style="
                                                              color: black;
                                                            ">
                                                            <td style="
                                                                display: inline-block;
                                                              ">
                                                              <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="initial">
                                                                <tbody>
                                                                  <tr>
                                                                    <td style="
                                                                        white-space: nowrap;
                                                                        display: inline-block;
                                                                      ">
                                                                    </td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table></a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    
                                    
                                    
                                    
                                    
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td style="padding: 14px 24px 36px">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" align="left" style="display: inline-block">
                                              <tbody>
                                                <tr>
                                                  <td align="center" valign="middle" style="font-size: 16px">
                                                    <a href="#" style="
                                                        word-wrap: normal;
                                                        color: #0a66c2;
                                                        word-break: normal;
                                                        white-space: normal;
                                                        display: block;
                                                        text-decoration: none;
                                                        text-align: center;
                                                      " target="_blank" >
                                                      <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                                                        <tbody>
                                                          <tr>
                                                            <td bgcolor="#0A66C2" style="
                                                                padding: 12px
                                                                  24px;
                                                                color: #ffffff;
                                                                font-weight: 400;
                                                                display: inline-block;
                                                                text-decoration: none;
                                                                font-size: 16px;
                                                                line-height: 1.25em;
                                                                border-color: #0a66c2;
                                                                background-color: #0a66c2;
                                                                border-radius: 34px;
                                                                border-width: 1px;
                                                                border-style: solid;
                                                              ">
                                                              <a href="{{ website }}" style="
                                                                  word-wrap: normal;
                                                                  color: #ffffff;
                                                                  word-break: normal;
                                                                  white-space: normal;
                                                                  display: block;
                                                                  text-decoration: none;
                                                                  text-align: center;
                                                                " target="_blank">See all
                                                                jobs</a>
                                                                
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table></a>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  
                                                  <td height="3">
                                                    <table width="1" border="0" cellspacing="0" cellpadding="1">
                                                      <tbody>
                                                        <tr>
                                                          <td>
                                                            <div style="
                                                                height: 1px;
                                                                font-size: 1px;
                                                                line-height: 1px;
                                                              ">
                                                              &nbsp;
                                                            </div>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#F3F2EF" align="left" style="
                        background-color: #f3f2ef;
                        padding-top: 16px;
                        color: #000000;
                        text-align: left;
                      ">
                      <tbody>
                        <tr>
                          <td>
                            <table width="24" border="0" cellspacing="0" cellpadding="1">
                              <tbody>
                                <tr>
                                  <td>
                                    <div style="
                                        height: 0px;
                                        font-size: 0px;
                                        line-height: 0px;
                                      ">
                                      &nbsp;
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                         </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </tbody>
  </table>


</body>
</html>